html {
    box-sizing: border-box;
}
header {
    position: fixed;
    background-color: black;
    width: 100%;
    border-bottom: 1px solid seashell;
    height: 69px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}
header img {
    height: 50px;
    padding-left: 10px;
}
nav {
    text-align: right;
    flex-grow: 1;
}
nav span {
    padding: 20px 10px;
}
a {
    color: seashell;
    text-align: right;
}
body {
    background-color: black;
    opacity: .9;
    color: seashell;
    font-family: Helvetica;
    text-align: center;
    font-size: 22px;
    margin: 0;
}
main {
    padding-top: 69px;
    width: 1200px;
    margin: auto;
}
#mission {
    background-image: url(./images/img-mission-background\ \(1\).jpg);
    height: 700px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}
.mission {
    background-color: black;
    align-items: center;
    margin: auto;
    width: 1200px;   
}
#featured {
    width: 1000px;
    height: 700px;
    margin: auto;
    padding-top: 69px;
}
.teas {
    display: flex;
    justify-content: center;
    width: 1000px;
    flex-wrap: wrap;
}
.teas img {
    height: 200px;
    width: 300px;
    padding: 5px;
}

.month {
    padding: 5px;
}
#locations {
    background-image: url(./images/img-locations-background\ \(1\).jpg);
    height: 500px;
    padding-top: 69px;
    margin-top: 100px;
}
}
.locations {
    display: flex;
    justify-content: center;
}
.address {
    background-color: black;
    display: inline-block;
    width: 300;
    margin: 0 20px;
    opacity: 1.0;
}
p {
    margin: 2rem 0;
}
.contact {
    height: 200px;
}
.contact a {
    text-decoration: none;
}
h5 {
    margin: 40px 20px;
}
footer {
    text-align: left;
}